/*------------------------------------*/
/* BASIC SETUP */
/*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}

.clearfix{
  zoom: 1;
}
.clearfix:after {
  content: '.' ;
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*------------------------------------*/
/* HEADING */
/*------------------------------------*/
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 30px auto;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
}
/*------------------------------------*/
/* PARAGRAPH */
/*------------------------------------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.section-feature .long-copy{
  margin-bottom: 20px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}
.big-icon {
  font-size: 300%;
  display: block;
  color: #e67e22;
  text-align: center;
  margin-bottom: 10px;
}

/*------------------------------------*/
/* HEADER */
/*------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*------------------------------------*/
/* BUTTONS */
/*------------------------------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  border-radius: 200px;
  text-decoration: none;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #b86217;
  background-color: #b86217;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #fff;
  color: #b86217;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #b86217;
  color: #fff;
  background-color: #b86217;
}

/*------------------------------------*/
/* MEALS*/
/*------------------------------------*/
.section-meals{
padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meals img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meals img:hover {
  transform: scale(1.05);
  opacity: 1;
}
/*------------------------------------*/
/* HOW IT WORKS*/
/*------------------------------------*/
.section-steps {
  background-color: #f4f4f4;
}
.steps-box{
  margin-top: 70px;
  text-align: left;
  padding-right: 3%;
  padding-left: 3%;
}

.app-screen{
  width: 40%;
  float: right;
}

.works-step {
  margin-bottom: 50px;
}

.works-step div{
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}


.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px ;
}